@import "tailwindcss";

@theme {
  --font-urbanist: var(--font-urbanist), sans-serif;
  --font-clash: var(--font-clash), sans-serif;
}

.font-clash {
  font-family: var(--font-clash), sans-serif !important;
}

.font-urbanist {
  font-family: var(--font-urbanist), sans-serif !important;
}